@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.control-btn {
  @apply px-7 py-3 rounded-2xl
  text-base font-semibold
  transition-all duration-200
  flex items-center gap-2
  shadow-lg;
}

.control-btn:hover {
  transform: translateY(-2px);
}

.control-btn:active {
  transform: scale(0.96);
}



/* ================= TEXT FADE ANIMATION ================= */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease forwards;
}


html {
  font-size: 20px;
  font-family: Inter, system-ui, sans-serif;
}

